html{
	font-size: 100%;
}
body { 
  color: #6f7b8a; 
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:13px;
  padding: 0px !important;
  margin: 0px !important;
  line-height: 1.5;
  font-style: normal;	
  font-weight: normal;
  background-color:#f2f4f6;  
  text-rendering: optimizeLegibility;
}
.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    background-color: red;
    color: white;
  }
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    height: 80px;
}
.footer .sitio{
    text-align: left;
    padding-left: 150px;
}
.footer .contacto{
    position: relative;
    top:-90px;
}
.footer .contacto #h1{
    font-size: 150%;
    position: relative;
    top: 10px;
    color: white;
}
.footer .contacto a:link, a:visited{
    text-decoration: none;
}
.footer .p1{
    text-align: right;
    padding-right: 150px;
    position: relative;
    top: -150px;
}
#titulo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 500%;
}
input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #f2f4f6;
    box-sizing: border-box;
}
.hosp1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
    width: 500px;
    height: 2550px;
    position: relative;
    left: 500px;
    background-color: #333;
    text-align: center;
    padding-bottom: 10px;
    color: white;
    border-radius: 2px;
}
.hosp1 .butao{
    background-color: red;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}